{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>

    <!-- Add cash to homepage -->
    <a href="{{ url_for('add_cash') }}" class="btn btn-success mb-3">Add Cash</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">Total Value</td>
                <td>{{ total_value }}</td>
            </tr>
        </tbody>
{% endblock %}
